.Grid {
    padding: 5px;
    align-content: center;
}

.GridRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    padding: 0;
    height: 27px;
    margin-top: -1px;
    overflow: hidden;
}

.GridCell {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid #61dafb;
    flex-shrink: 0;
}

.GridCell.Visited {
    background-color: #61dafba2;
}

.GridCell.Frontier {
    background-color: #1a6f86da;
}

.GridCell.Path {
    background-color: #d8cb19;
}

.GridCell.Finish {
    background-color: #d81998;
}

.GridCell.Start {
    background-color: #7fe245;
}
