.App {
    background-color: #282c34;
    color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.App-header {
    padding: 10px;
}

.App-header h2 {
    margin-top: 0;
}

.App-link {
    color: #61dafb;
}

label > * {
    margin-left: 10px;
}

select {
    padding: 3px;
    font-size: large;
    background-color: #e0eeff;
}
